* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4056A1;
  color: white;
}

.header {
  width: 94%;
  height: 55px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.mop {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  width: 94%;
  text-align: center;
  display: flex;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.header1 {
  width: 100%;
  padding-left: 10px;
  max-width: none;
}

header button,
input {
  height: 80%;
  margin-right: 5px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
}

header input {
  flex: 1;
  max-width: 600px;
  outline: none;
}

.space-top {
  padding: 230px 5px 5px 0;
}

.content {
  border: 3px solid rgb(231, 217, 217);
  text-align: center;
  padding: 20px;
  border-radius: 10px;

}

.spec-container {
  margin-top: 40px;
  margin: 0 auto;
  width: 94%;
  max-width: 900px;
}

.spec-item {
  border: 3px solid rgb(231, 217, 217);
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

footer {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 0;
}

footer a {
  color: #EDF5E1;
}

span {
  margin-top: 10px;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 850px) {}

section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 10px;
  gap: 10px;
}

@media (max-width: 2000px) {
  section {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  section {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  section {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }

  h3 {
    font-size: 1rem;
  }

  span {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.5px;
  }

  header input {
    flex: 1;
  }
}

@media (max-width: 575px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}